* {
    margin: 0;
    padding: 0;
    font-family: Monsterrat;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

header a {
    text-decoration: none;
    color: #1b2629;
    padding: 10px;

}

nav a {
    font-size: 30px;
}

nav a:hover {
    text-shadow: 2px 2px 5px;
}

.logo img {
    width: 60px;
    height: 40px;
    display: inline-block;
}


.contact {
    margin: auto;
    margin-top: 40px;
    width: 50vw;
    background-color: whitesmoke;
    padding: 20px;

}

.contact h3 {
    text-align: center;
    font-size: 30px;
    padding: 15px;
    color: #1b2629;
    text-shadow: 1px 1px 2px black;
}

.contact p {
    padding: 15px;
    color: grey;
}

.contact a {
    color: #1b2629;
}

.contact a:hover {
    text-shadow: 1px 1px 15px;
}

.fa-brands {
    font-size: 20px;
    padding: 10px;
}

a .fa-brands:hover {
    text-shadow: 1px 1px 15px;
}

form input[type="text"] {
    width: 400px;
    border-radius: 8px;
    border: 1px solid #1b2629;
    margin: 10px 0;
    height: 30px;
    outline: none;
    padding-left: 10px;
}

form textarea {
    width: 400px;
    height: 100px;
    outline: none;
    padding: 10px;
    border: 1px solid #1b2629;
    border-radius: 8px;
}

form input[type="submit"] {
    width: 100px;
    margin: 10px 0;
    padding: 5px;
    color: white;
    background-color: #1b2629;
    border-radius: 10px;
    border: 1px solid #1b2629;
}

map iframe {
    width: 100%;
}




/* footer */
footer {
    background-color: #1b2629;
    color: white;
    font-weight: bold;
    padding: 10px;
    height: fit-content;

}

footer .ftr {
    display: flex;
    justify-content: space-around;
}

.quick-links {
    display: flex;
    flex-direction: column;
}

.socials {
    text-align: center;
}

.quick-links a {
    padding: 2px;
    color: white;
    font-size: 10px;
    text-align: center;
    font-weight: lighter;
}

.quick-links a:hover,
.socials a:hover {
    text-shadow: 1px 1px 10px;
}

footer .fa-brands {
    font-size: 15px;
    color: white;
    padding: 10px;
}

footer h3 {
    font-size: 20px;
    text-align: center;
}

footer p {
    text-align: center;
    font-size: 17px;
    font-weight: lighter;
}

footer .address p {
    width: 160px;
    padding-top: 8px;
    font-weight: lighter;
    font-size: 10px;
}

footer .logo img {
    width: 100px;
    height: 100px;
    padding-top: 20%;
}

/* footer end */

@media screen and (max-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }

    header a {
        text-decoration: none;
        color: #1b2629;
        padding: 10px;
    }

    nav a {
        font-size: 18px;
    }

    nav a:hover {
        text-shadow: 2px 2px 5px;
    }

    .logo img {
        width: 50px;
        height: 50px;
        display: inline-block;
    }


    .contact {
        margin: 10px 0;
        margin-top: 10px;
        width: fit-content;
        background-color: whitesmoke;
        padding: 20px;

    }

    .contact h3 {
        text-align: center;
        font-size: 30px;
        padding: 10px;
        color: #1b2629;
        text-shadow: 1px 1px 2px black;
    }

    .contact p {
        padding: 10px;
        color: grey;
        text-align: center;
    }

    .contact a {
        color: #1b2629;
    }

    form input[type="text"] {
        width: 300px;
        border-radius: 8px;
        border: 1px solid #1b2629;
        margin: 10px 0;
        height: 30px;
        outline: none;
        padding-left: 10px;
    }

    form textarea {
        width: 300px;
        height: 200px;
        outline: none;
        padding: 10px;
        border: 1px solid #1b2629;
        border-radius: 10px;
    }

    form input[type="submit"] {
        width: 100px;
        margin: 10px 0;
        padding: 5px;
        color: white;
        background-color: #1b2629;
        border-radius: 10px;
        border: 1px solid #1b2629;
    }

    footer .logo img {
        width: 40px;
        height: 50px;
        padding-top: 20%;
    }

    footer .ftr {
        display: flex;
        justify-content: space-around;
        font-size: 10px;
    }

    footer h3 {
        font-size: 13px;
        text-align: center;
    }

    .socials .fa-brands {
        font-size: 12px;
        padding: 3px;
    }

    footer p {
        text-align: center;
        font-size: 10px;
        font-weight: lighter;
    }

    footer .address p {
        width: fit-content;
        padding-top: 5px;
        font-weight: lighter;
        font-size: 10px;
    }

    .quick-links a {
        font-size: 10px;
        padding: 2px;
        font-weight: lighter;
    }

    .socials {
        display: flex;
        flex-direction: column;
    }

}